@{
    ViewData["Title"] = "Home Page";
}

<style>
    #homePage  {
        margin-top:200px;
    }

</style>
<div id="homePage" class="text-center">
    <h1> Home pag UI under preperation HI </h1>
</div>
